* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

section {
  height: 100vh;
  position: relative;
  background-size: auto;
  background-size: cover;
}

#yellow {
  color: yellow;
}

#sezione_prima {
  background-color: red;
  text-align: center;
}
